.App {
  text-align: center;
}

table, td, th {
  text-align: center;
}

table {
  min-width: 50%;
  padding: 15px;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

#data-table {
  margin: auto;
  margin-bottom: 50px;
}

th {
  background-color: #724e7a;
  color: #fff;
  position: sticky;
  top: -1px;
}

td {
  border-bottom: 1px solid #ff9900;
}

tr:hover {
  background-color: #ff9900;
}